@include('partials/head')

<body>
    @include('partials/navbar')

    <main class="container">
        <!-- Completer la page Index -->
        <h1 class="text-center">{{ title }}</h1>
        <p>{{ error }}</p>
    </main>

@include('partials/footer')