<header class="header">
    <nav class="navbar">
        <ul class="navbar-nav">
            <li>
                <a href="/">Gestion de Projet | Simplon.co</a>
            </li>
        </ul>
    </nav>
</header>